body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333;
}

header {
    background-color: #DA291C;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #006DB7;
}

h3 {
    color: #DA291C;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #FFD500;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
